@use "vars";

.container h2 {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: 2px solid vars.$primary-fg-color;
}

.container blockquote {
  margin: 30px 4px;
  padding: 10px 16px;
  border-left: 6px solid vars.$primary-fg-color;
  background-color: vars.$secondary-bg-color;
  color: vars.$secondary-fg-color;
  border-radius: 4px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags-single-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language-single-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.yt {
  display: flex;
  justify-content: center;
  width: 90%;
}

.sns-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.sns-icons a {
  cursor: pointer;
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border: 1px solid vars.$primary-fg-color;
  border-radius: 4px;
  padding: 6px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(99, 113, 133, 0.4);
}

.share-button a:hover {
  box-shadow: 0 0 10px rgba(99, 113, 133, 0.8);
}

.privacy {
  padding-bottom: 4px;
  border-bottom: 1px dashed vars.$primary-fg-color;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.zola-anchor:hover {
  color: vars.$secondary-fg-color;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .container h2 {
    line-height: 30px;
  }

  .container p {
    line-height: 30px;
  }
}
