body {
  --pagefind-ui-scale: 0.9;
  --pagefind-ui-primary: #a2a3a2;
  --pagefind-ui-text: #caccca;
  --pagefind-ui-background: #22272e;
  --pagefind-ui-border: #caccca;
  --pagefind-ui-tag: #caccca;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 4px;
  --pagefind-ui-image-border-radius: 4px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: monospace, sans-serif;
}

@media (max-width: 768px) {
  .search-pagefind {
    display: none;
  }
}
