@use "vars";

html {
  background-color: vars.$secondary-bg-color;
  color: vars.$primary-fg-color;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: BIZ UDPGothic, sans-serif;
  background-color: vars.$primary-bg-color;
  color: vars.$primary-fg-color;
  width: 50%;
  max-width: 100%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  width: 100%;
}

img {
  max-width: 90%;
}

p a {
  border-bottom: 1px dashed vars.$primary-fg-color;
  padding-bottom: 4px;
}

a {
  text-decoration: none;
  color: vars.$primary-fg-color;
}

ul li {
  padding-bottom: 10px;
  line-height: 20px;
}

p {
  line-height: 40px;
}

pre {
  display: flex;
  justify-content: start;
  padding: 20px 10px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(55, 63, 74, 0.6);
  overflow: auto;
  width: 90%;
}

code {
  font-family: JetBrainsMono Nerd Font Mono, monospace, BIZ UDPGothic;
  background-color: vars.$secondary-bg-color;
  padding: 4px;
  border-radius: 4px;
  word-wrap: break-word;
  font-size: 0.8rem;
}

h2 code {
  padding: 2px;
  font-size: 1.2rem;
}

pre code {
  font-family: JetBrainsMono Nerd Font Mono, monospace, BIZ UDPGothic;
  line-height: 22px;
  background-color: unset;
  padding: unset;
  border-radius: unset;
  word-wrap: unset;
  font-size: 1rem;
}

hr {
  margin: 2rem;
  box-shadow: 0 0 10px rgba(99, 113, 133, 0.6);
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    width: 80%;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  header span {
    line-height: 24px;
  }

  p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  pre code {
    line-height: 18px;
  }

  pre code span {
    font-size: 0.8rem;
  }
}
