:root {
  background-color: #373f4a;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: BIZ UDPGothic, sans-serif;
  background-color: #22272e;
  color: #caccca;
  width: 70%;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #caccca;
}

ul li {
  padding-bottom: 10px;
  line-height: 20px;
}

p {
  line-height: 30px;
}

pre {
  padding: 20px 10px;
  margin: 4px auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(55, 63, 74, 0.6);
}

pre code {
  font-family: BIZ UDPGothic;
}

hr {
  margin: 2rem;
  box-shadow: 0 0 10px rgba(99, 113, 133, 0.6);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags-single-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language-single-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }

  .container {
    width: 95%;
  }
}
