{% extends "base.html" %}
{% block head %}
  <meta name="description" content="Show all tags.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://dnfolio.me/icons/icon.png">
  <meta property="og:title" content="All Tags">
  <meta property="og:description" ctontent="Show all tags.">
  <meta property="og:site_name" content="dnfolio" />
  <meta property="og:email" content="daiki48.engineer@gmail.com">
  <meta property="og:url" content="https://dnfolio.me/tags">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Daiki48engineer">
  <meta name="twitter:title" content="All Tags">
  <meta name="twitter:description" content="Show all tags.">
  <meta name="twitter:image" content="https://dnfolio.me/icons/icon.png">
{% endblock head %}
{% block title %}
  All Tags
{% endblock title %}
{% block
  content %}
  <div>
    <h1 class="title">All Tags</h1>
    <ul>
      {% for term in terms %}
        <li>
          <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
