{% extends "base.html" %}
{% block head %}
  <meta name="description" content="Show all languages.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://dnfolio.me/icons/icon.png">
  <meta property="og:title" content="All Languages">
  <meta property="og:description" content="Show all languages.">
  <meta property="og:site_name" content="dnfolio" />
  <meta property="og:email" content="daiki48@dnfolio.me">
  <meta property="og:url" content="https://dnfolio.me/languages">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dnfolio_me">
  <meta name="twitter:title" content="All Languages">
  <meta name="twitter:description" content="Show all languages.">
  <meta name="twitter:image" content="https://dnfolio.me/icons/icon.png">
{% endblock head %}
{% block title %}
  All Languages
{% endblock title %}
{%
block content %}
<div>
  <h1 class="title">All Languages</h1>
  <ul>
    {% for term in terms %}
      <li>
        <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
