{% macro page(heads) %}
  <table>
    <tbody>
      {% for h1 in heads %}
        <tr>
          <td>#</td>
          <td>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          </td>
        </tr>
        {% if h1.children %}
          {% for h2 in h1.children %}
            <tr>
              <td>##</td>
              <td>
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro page %}
