---
title: 春先に収穫予定の野菜たち
description: 赤丸はつか大根、バジル、水菜などを植えてみた。
createdAt: '2024-3-28'
tags:
  - 家庭菜園
published: true
---

冬にたくさん収穫出来たほうれん草の残り以外は全滅したようです。

<!-- ![終わった様子](%sveltekit.assets%/images/hobby/home-vegetable-garden) -->

次に挑戦する野菜たちはこちら
- 赤丸はつか大根
- バジル
- 水菜
- ほうれん草（別の種類）

連鎖障害に気を付けて植えたので毎日様子を見ながら育てていこうと思います。

楽しみだなぁ。