/**
 * Original color set
 * -------------------------------------------------------------------------- */

:root {
  --dn-color-green-0: #056312;
  --dn-color-green-1: #32a842;
  --dn-color-green-2: #5de36f;
  --dn-color-green-3: #9beba6;
  --dn-color-green-4: #cfffd5;

  --dn-color-black-1: #181c18;
}

/**
 * Customize
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-color: var(--dn-color-green-1);
  --vp-code-link-color: var(--dn-color-green-1);
  --vp-code-tab-active-bar-color: var(--dn-color-green-1);
}

/**
  * Custom Component: Local Search
  * -------------------------------------------------------------------------- */

:root {
  --vp-local-search-result-selected-border: var(--dn-color-green-0);
  --vp-local-search-highlight-bg: var(--dn-color-green-4);
  --vp-local-search-highlight-text: var(--dn-color-black-1);
}

.dark {
  --vp-c-bg: #22272e;
  --vp-c-bg-alt: #1a1e24;
}
