* {
	font-family: 'BIZ UDPGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
		Meiryo, Osaka, 'MS PGothic', sans-serif;
	/* background-color: rgba(240, 240, 240, 1); */
	color: rgba(3, 4, 5, 0.8);
	line-height: 2;
}

html {
	scroll-behavior: smooth;
}

pre {
	border-radius: 8px;
}

code {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* font-family: 'BIZ UDPGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', */
	/* 	Meiryo, Osaka, 'MS PGothic', sans-serif; */
	font-weight: bold;
	font-size: 1rem;
	background-color: rgba(192, 192, 192, 0.8);
	padding: 4px;
	border-radius: 4px;

	@media (max-width: 800px) {
		font-size: 1rem;
	}
}

pre code {
	font-size: 1rem;

	@media (max-width: 800px) {
		font-size: 0.8rem;
	}
}

h1 {
	font-size: 30px;

	@media (max-width: 800px) {
		font-size: 20px;
	}
}

h2 {
	font-size: 26px;
	border-bottom: 2px solid rgba(192, 192, 192);
	margin-top: 60px;

	@media (max-width: 800px) {
		font-size: 18px;
	}
}

h3 {
	font-size: 20px;
	border-bottom: 1px solid rgb(205, 203, 203);
	margin-top: 40px;

	@media (max-width: 800px) {
		font-size: 16px;
	}
}

p {
	font-size: 16px;

	@media (max-width: 800px) {
		font-size: 14px;
	}
}

img {
	box-shadow: 0 0 8px gray;
}

@media (max-width: 800px) {
	strong {
		word-break: break-all;
	}
}
