{% import "macros/share.html" as share %} {% import "macros/toc.html" as toc %} {% set url = get_url(path="/icons/favicon.ico") | safe %}
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    {% endblock head %}
    <title>
      {% block title %}
      {% endblock title %}
    | dnfolio</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="{{ url }}" sizes="any" />
    {% block rss %}
      <link rel="alternate"
            type="application/rss+xml"
            title="RSS"
            href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>
  <body>
    {% include "components/header.html" %}
    {% include "components/pagefind.html" %}
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </link>
    {% include "components/footer.html" %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S0DTM6WBVT"></script>
    <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-S0DTM6WBVT');
    </script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1a65600118b6484abc3e7fdf12932538"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
