{% extends "base.html" %}
{% block head %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://dnfolio.dev/icons/icon.png">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="dnfolio" />
    <meta property="og:email" content="daiki48.engineer@gmail.com">
    <meta property="og:url" content="https://dnfolio.dev/privacy">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Daiki48engineer">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://dnfolio.dev/icons/icon.png">
{% endblock head %}
{% block title %}
    {{ page.title }}
{% endblock title %}
{%
block content %}
<header>
    <h1>{{ page.title }}</h1>
    <span>{{ page.description }}</span>
    <p class="subtitle">
        Updated : <strong>{{ page.date }}</strong>
    </p>
</header>
{{ page.content | safe }}
{% endblock content %}
