<footer>
  <div class="sns-icons">
    <a href="https://bsky.app/profile/dnfolio.me" target="_blank">
      <img src="/sns/bluesky-logo.svg"
           alt="bluesky icon"
           width="30px"
           height="auto" />
    </a>
    <a href="https://x.com/dnfolio_me" target="_blank">
      <img src="/sns/x-logo.svg" alt="x icon" width="30px" height="auto" />
    </a>
    <a href="https://sizu.me/daiki48" target="_blank">
      <img src="/sns/sizu-logo.svg" alt="sizu icon" width="30px" height="auto" />
    </a>
    <a href="https://github.com/Daiki48" target="_blank">
      <img src="/sns/github-logo.svg"
           alt="github icon"
           width="30px"
           height="auto" />
    </a>
  </div>
  <p class="copyright">
    <a href="/privacy" target="_blank" class="privacy">Privacy Policy</a>
    <span>© 2024 - 2025
      <a href="/">dnfolio</a>
      <a href="/sitemap.xml" target="_blank">Sitemap</a>
    </span>
  </p>
</footer>
